.package-manager-tabs {
  border: 1px solid var(--rp-c-divider);
  border-radius: var(--rp-radius);
  background-color: var(--rp-code-block-bg);
  margin-block: 20px;
}

.package-manager-tabs > div {
  margin-block: 0;
}
